{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{if .Title }}{{.Title}}{{else}}HTMX Golang App{{end}}</title>
    <link rel="stylesheet" href="https://the.missing.style/v0.2.0/missing.min.css">
    <link rel="stylesheet" href="/static/site.css">
    <!-- HTMX -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
        integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
        crossorigin="anonymous"></script>
</head>
<body>
    {{block "page" .}}
    <h1>Say hi to your mother for me.</h1>
    {{end}}
</body>
</html>
{{end}}
